.features {
    padding-bottom: 60px;
}

.features__container {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -var(--single-margin);
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.features__item {

    @media screen and (max-width: 767px) {
        max-width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: var(--single-margin);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: var(--set-gap);
        }

    }
}

.features__meta {
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}

.features__text {
    font-size: 14px;
    line-height: 1.7;
}

.features__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
}