<section class="section clients">
    <div class="container">
        <h2 class="section-title">Постоянные клиенты</h2>
        <ul class="list clients-container">
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-1"></use>
                    </svg>
                </a>
            </li>
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-2"></use>
                    </svg>
                </a>
            </li>
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-3"></use>
                    </svg>
                </a>
            </li>
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-4"></use>
                    </svg>
                </a>
            </li>
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-5"></use>
                    </svg>
                </a>
            </li>
            <li class="client-li">
                <a class="client-item" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="client-icon" width="106" height="60">
                        <use href="./images/icons-sprite.svg#client-6"></use>
                    </svg>
                </a>
            </li>

        </ul>
    </div>
</section>