<section class="section team">
    <div class="container">
        <h2 class="section-title">Наша команда</h2>
        <ul class="list team-container">
            <li class="team-item">
                <picture>
                    <source srcset="./images/team/team1-lg.jpg 1x,
                            ./images/team/team1-lg@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpg" />

                    <source srcset="./images/team/team1-md.jpg 1x,
                            ./images/team/team1-md@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg" />

                    <source srcset="./images/team/team1-sm.jpg 1x,
                            ./images/team/team1-sm@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg" />

                    <img class="team-img" src="./images/team/team1-sm.jpg" alt="Игорь Демьяненко" width="450"
                        height="460">
                </picture>
                <div class="team-wrapper">
                    <h3 class="team-member">Игорь Демьяненко</h3>
                    <p class="team-describe">Product Designer</p>
                    <ul class="socials">
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="./images/team/team2-lg.jpg 1x, ./images/team/team2-lg@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />

                    <source srcset="./images/team/team2-md.jpg 1x, ./images/team/team2-md@2x.jpg 2x"
                        media="(min-width: 768px)" type="image/jpg" />

                    <source srcset="./images/team/team2-sm.jpg 1x, ./images/team/team2-sm@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg" />

                    <img class="team-img" src="./images/team/team2-sm.jpg" alt="Ольга Репина" width="450" height="460">
                </picture>
                <div class="team-wrapper">
                    <h3 class="team-member">Ольга Репина</h3>
                    <p class="team-describe">Frontend Developer</p>
                    <ul class="socials">
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="./images/team/team3-lg.jpg 1x, ./images/team/team3-lg@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />

                    <source srcset="./images/team/team3-md.jpg 1x, ./images/team/team3-md@2x.jpg 2x"
                        media="(min-width: 768px)" type="image/jpg" />

                    <source srcset="./images/team/team3-sm.jpg 1x, ./images/team/team3-sm@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg" />

                    <img class="team-img" src="./images/team/team3-sm.jpg" alt="Николай Тарасов" width="450"
                        height="460">
                </picture>
                <div class="team-wrapper">
                    <h3 class="team-member">Николай Тарасов</h3>
                    <p class="team-describe">Marketing</p>
                    <ul class="socials">
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="./images/team/team4-lg.jpg 1x, ./images/team/team4-lg@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg" />

                    <source srcset="./images/team/team4-md.jpg 1x, ./images/team/team4-md@2x.jpg 2x"
                        media="(min-width: 768px)" type="image/jpg" />

                    <source srcset="./images/team/team4-sm.jpg 1x, ./images/team/team4-sm@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg" />

                    <img class="team-img" src="./images/team/team4-sm.jpg" alt="Михаил Ермаков" width="450"
                        height="460">
                </picture>
                <div class="team-wrapper">
                    <h3 class="team-member">Михаил Ермаков</h3>
                    <p class="team-describe">UI Designer</p>
                    <ul class="socials">
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-item" href="" target="_blank" rel="noopener noreferrer">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./images/icons-sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>